@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
}

:root {
  background-color: #00CCFF;
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  margin: 6em 3em;
}

button, input {
  display: block;
  margin: auto;

  padding: 10px;

  border: 1px solid black;
  border-radius: 10px;

  font-family: 'Roboto', sans-serif;
}
