.create-join-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.username-container {
  width: 60%;
}

.create-join-container div {
  margin: 0 .5em;
}

.earbud {
  position: relative;
  z-index: -1;
}

/* .home-container {
  background-color: #00CCFF;
  height: 100vh;
  width: 100%;
  display: block;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.username-input {
  height: 10vh;
  width: 100%;
  margin-bottom: 200px;
} */
