.create-join-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.username-container {
  width: 60%;
}

.create-join-container div {
  margin: 0 .5em;
}

.earbud {
  position: relative;
  z-index: -1;
}